body {
    height: 1900px;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}
.menu li {
    display: inline-block;
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu {
    background-color: var(--cor-tercearia);
    padding: 20px;
    font-size: 16pt;
    align-items: center;
    position: block;
    width: 100%;
    position: fixed
}
#mapa {
    width: 500px;
    height: 400px;
    margin-top: 100px;  
}
